:root {
    --grid-columns: 1;
    --grid-rows: 1;
  }
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

#container {
    display: grid;
    justify-self: center;
    border: 1px solid #000;
    height: 500px;
    width: 500px;
  }
  
.cell {
    padding: 1em;
    /*border: 1px solid #ddd;*/
    text-align: center;
  }

.header {
    display: flex;
    justify-content: center;
    font-size: 100px;
    padding-bottom: 30px;
}

.controlPanel {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.sizeSelector {
    padding-right: 5%;
}

